<div class="text-center">
    <% if session[:correct_pts] != session[:total_pts]%>
    <h1>Uh oh, no gift &#128577;</h1>
    <h2 class="completion-subheading">You didn’t get all questions (<%= session[:correct_pts] %> / <%= session[:total_pts]%>).</h2>
    <!--
    
    <div class="text-center card-button" id="failure-reload-btn">
        <%= image_tag "icons/icon_reload.png", id: 'icon-reload'%>
        <h5 class="card-button-label">Try Again</h5>
        <%= javascript_tag do %>
        $('#failure-reload-btn').on('click', function(){
        top.location.reload();
        });
        <% end %>
    </div>
    !-->

    <% else %>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <%= javascript_tag do %>
    $(document).ready(function () {
    confetti();
    })
    <% end %>
    <h1>It’s a &#128054;</h1>
    <h5 class="completion-subheading">Your score is <%= session[:correct_pts] %> / <%= session[:total_pts]%>!</h5>
    <% end %>

</div>