<!-- Welcome Section -->
<div id="welcome-section" style="display:none;">
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-a11y="true"></script>
    <%= javascript_tag do %>
    var lis_result_sourcedid = "<%= session[:lis_result_sourcedid] %>";
    var lis_outcome_service_url = "<%= session[:lis_outcome_service_url] %>";
    <% end %>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <h1>
        Hi, <%= @lis_person_name_given %>
    </h1>

    <div>
        <h2 class="subtitle"> <i class="fas fa-camera"></i> Screenshot Your Boom Cards</h2>
        <h3 class="caption">Make sure they look like these:</h3>
        <img class="sample-image" src="correct.png" height="200" alt="Correct">
        <img class="sample-image" src="wrong.png" height="200" alt="Wrong">
        <h2 class="subtitle"><i class="fas fa-upload"></i> Submit here</h2>

        <div class="drop-zone" id="dropzone">
            <span class="drop-zone__prompt caption">Drop file here or click to upload</span>
            <input type="file" name="myFile" class="drop-zone__input" id="drop-zone-input">
        </div>
    </div>
</div>

<!-- Processing (Spinner) Section -->
<div id="processing-section" class="text-center" style="display:none;">
    <h1>Unwrapping Your Gift...</h1>
    <div class="margin-center">
        <%= image_tag "icons/icon_gift.png", id: "icon_gift" %>
        <div class="loader"></div>
    </div>
</div>

<!-- Result Section -->
<div id="result-section" class="text-center" style="display: none;">
    <div id="partial-credit-page" style="display: none;">
        <h1>Uh oh, no gift &#128577;</h1>
        <h2 class="completion-subheading" id="partial-credit-page-note">You didn’t get all questions (<%= session[:correct_pts] %> / <%= session[:total_pts]%>).</h2>
        <div class="text-center card-button" id="failure-reload-btn">
            <%= image_tag "icons/icon_reload.png", id: 'icon-reload'%>
            <h5 class="card-button-label">Try Again</h5>
        </div>
    </div>

    <div id="wrong-image-page" style="display: none;">
        <h1>Uh oh, no gift &#128577;</h1>
        <h2 class="completion-subheading" id="wrong-image-page-note">Perhaps you turned in the wrong screenshot. Try again.</h2>
        <div class="text-center card-button" id="failure-reload-btn">
            <%= image_tag "icons/icon_reload.png", id: 'icon-reload'%>
            <h5 class="card-button-label">Try Again</h5>
        </div>
    </div>


    <div id="full-marks-page" style="display: none;">
        <h1 id="gift"></h1>
        <script>
            /* Right now only contains animal emojis, but any "gift" emojis
                can be added as desired.
               Look up decimal emoji codes at https://www.quackit.com/character_sets/
                emoji/emoji_v3.0/unicode_emoji_v3.0_characters_all.cfm
             */
            var possible_gifts = [
                "&#128018;", // monkey
                "&#129421;", // gorilla
                "&#128021;", // dog
                "&#128008;", // cat
                "&#128005;", // tiger
                "&#128006;", // leopard
                "&#128014;", // horse
                "&#129420;", // deer
                "&#128002;", // ox
                "&#128003;", // water buffalo
                "&#128004;", // cow
                "&#128022;", // pig
                "&#128017;", // sheep
                "&#128042;", // camel
                "&#128043;", // two-hump camel
                "&#128024;", // elephant
                "&#129423;", // rhinoceros
                "&#128001;", // mouse
                "&#128007;", // rabbit
                "&#129415;", // bat
                "&#129411;", // turkey
                "&#128038;", // bird
                "&#128039;", // penguin
                "&#128010;", // crocodile
                "&#128034;", // turtle
                "&#129422;", // lizard
                "&#128013;", // snake
                "&#128009;", // dragon
                "&#128051;", // whale
                "&#128032;", // fish
                "&#129416;", // shark
                "&#128025;", // octopus
                "&#129425;", // squid
                "&#129419;", // butterfly
                "&#128029;", // bee
                "&#128030;", // ladybug
                "&#129410;"  // scorpion
            ];
            var gift = possible_gifts[Math.floor(Math.random() * possible_gifts.length)];
            document.getElementById("gift").innerHTML = "It's a " + gift + "!";
        </script>

        <h5 class="completion-subheading" id="full-marks-page-note">Your score is <%= session[:correct_pts] %> / <%= session[:total_pts]%>!</h5>
    </div>

</div>