<!-- Welcome Section -->
<div id="welcome-section" style="display:none;">
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-a11y="true"></script>
    <%= javascript_tag do %>
    var lis_result_sourcedid = "<%= session[:lis_result_sourcedid] %>";
    var lis_outcome_service_url = "<%= session[:lis_outcome_service_url] %>";
    <% end %>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <h1 class = "eng">
        Hi, <%= @lis_person_name_given %>
    </h1>
    <h1 class = "lkt">
        Hau, <%= @lis_person_name_given %>
    </h1>


    <button id="Eng">English</button>
    <button id="Lak">Lakȟótiyapi</button>

    <div>
        <h2 class="subtitle eng"> <i class="fas fa-camera"></i>  Screenshot Your Boom Cards</h2>
        <h2 class="subtitle lkt"> <i class="fas fa-camera"></i>  Boom Cards kiŋ itówapi ikíkču wo/we</h2>

        <h3 class="caption eng">Make sure they look like these:</h3>
        <h3 class="caption lkt">Léčheča kte héčha:</h3>

        <img class="sample-image" src="correct.png" height="200" alt="Correct">
        <img class="sample-image" src="wrong.png" height="200" alt="Wrong">
        <h2 class="subtitle eng"><i class="fas fa-upload"></i>Submit here</h2>
        <h2 class="subtitle lkt"><i class="fas fa-upload"></i>Lél iyáyeya yo/ye</h2>

        <div class="drop-zone" id="dropzone">
            <span class="drop-zone__prompt caption"><span class="eng">Drop file here or click to upload</span><span class="lkt">Itówapi kiŋ lél égnakiŋ naíŋš waŋkál okšú kta akákpi yo/ye.</span></span>
            <input type="file" accept=".png,.jpg,.jpeg,.heif" name="myFile" class="drop-zone__input" id="drop-zone-input">
        </div>
    </div>
</div>

<!-- Processing (Spinner) Section -->
<div id="processing-section" class="text-center" style="display:none;">
    <h1 class = "eng">Unwrapping Your Gift...</h1>
    <h1 class = "lkt">Wak’úpi Yaglúžužu (kte)...</h1>

    <div class="margin-center">
        <%= image_tag "icons/icon_gift.png", id: "icon_gift" %>
        <div class="loader"></div>
    </div>
</div>

<!-- Result Section -->
<div id="result-section" class="text-center" style="display: none;">
    <div id="partial-credit-page" style="display: none;">
        <h1 class = "eng">Uh oh, no gift &#128577;</h1>
        <h1 class = "lkt">Akšáka, wak’úpi waníče &#128577;</h1>

        <h2 class="completion-subheading eng" id="partial-credit-page-note">You didn’t get all questions (<%= session[:correct_pts] %> / <%= session[:total_pts]%>).</h2>
        <h2 class="completion-subheading lkt" id="partial-credit-page-note">Wóiyuŋǧe kiŋ iyúha taŋyáŋ alúpte šni (<%= session[:correct_pts] %> / <%= session[:total_pts]%>).</h2>

        <div class="text-center card-button" id="failure-reload-btn">
            <%= image_tag "icons/icon_reload.png", id: 'icon-reload'%>
            <h5 class="card-button-label eng">Try Again</h5>
            <h5 class="card-button-label lkt">Akhé iyútȟa yo/ye</h5>

        </div>
    </div>

    <div id="wrong-image-page" style="display: none;">
        <h1 class = "eng">Uh oh, no gift &#128577;</h1>
        <h1 class = "lkt">Akšáka, wak’úpi waníče &#128577;</h1>
        <h2 class="completion-subheading eng" id="wrong-image-page-note">
            Perhaps you turned in the wrong screenshot. Try again.
        </h2>
        <h2 class="completion-subheading lkt" id="wrong-image-page-note">
            Itówapi héčhetu šni waŋ iyáyeyayiŋ kte séče. Akhé iyútȟa yo/ye.
        </h2>
        
        <div class="text-center card-button" id="failure-reload-btn">
            <%= image_tag "icons/icon_reload.png", id: 'icon-reload'%>
            <h5 class="card-button-label eng">Try Again</h5>
            <h5 class="card-button-label lkt">Akhé iyútȟa yo/ye</h5>

        </div>
    </div>


    <div id="full-marks-page" style="display: none;">
        <h1 class = "eng">It’s a &#128054;</h1>
        <h1 class = "lkt">&#128054; héčha!</h1>
        <h5 class="completion-subheading eng" id="full-marks-page-note">Your score is <%= session[:correct_pts] %> / <%= session[:total_pts]%>!</h5>
        <h5 class="completion-subheading lkt" id="full-marks-page-note"><%= session[:correct_pts] %> / <%= session[:total_pts]%> yákámna!</h5>
    </div>

</div>